* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbd7ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #6f84a1;
    font-size: 6em;

}

h2 {
    color: #7d94b5;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
}

img {
    height: 100%;
}

/* Home page */
.name-and-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Hamburger icon/Nav icon */
.hamburger-icon-container {
    height: 2.5vh;
    order: 1;
    position: absolute;
    top: 2em;
    right: 2em;
    display: flex;

}

.hamburger-icon {
    height: 2.5em;
    width: 2.5em;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Nav page */
.nav-page {
    background-color: #cbd7ab;
}

.nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-items {
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
}

/* About me page */
.about-me-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 85vh;
}

.who-am-i {
    color: #6f84a1;
    font-size: 3em;
}

.brand-statement {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

/* Projects page */
.projects-page {
    height: 100vh;            
    display: flex;            
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.projects-title {
    font-size: 3em;
    color : #6f84a1;
}

.project-titles {
    font-size: 1.7em;
    color: #a84b67;
}

.project-links {
    height: 13em;
    width: 70vh;
    display: flex;
    justify-content: space-between;
}

.tamagotchi-li {
    height: 13em;
}

.tamagotchi-icon {
    height: 12em;
    width: 17em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamagotchi-description {
    text-align: center;
    font-size: 1.1em;
    color: #000000;
}

.tic-tac-toe-li {
    height: 13em;
}

.tic-tac-toe-icon {
    height: 12em;
    width: 17em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tic-tac-toe-description {
    text-align: center;
    font-size: 1.1em;
    color: #000000;
}
/* Contact page */


.hidden {
    display: none;
    width: 100vh;
    height: 100vh;
    transition: fadeIn;
}