* {
    box-sizing: border-box;
}

body, html {
    height: 95vh;
    width: 100%;
    background-color: #cbd7ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #6f84a1;
    font-size: 6em;

}

h2 {
    color: #7d94b5;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
}

img {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2em;
    height: 55vh;
    width: 60vh;
    margin-top: 2em;
    margin-left: 2.1em;
    padding: 20px;
    border: 0.13em solid #000;
    border-radius: 8px;
}

input, textarea {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: .1em solid gray;
        outline: 0;
        font-size: 1.3rem;
        color: black;
        padding: 7px 0;
        background: transparent;
}

footer {
    background-color: black;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3em;
    opacity: 70%;
}
/* Home page */
.name-and-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Hamburger icon/Nav icon */
.hamburger-icon-container {
    height: 2.5vh;
    order: 1;
    position: absolute;
    top: 2em;
    right: 2em;
    display: flex;

}

.hamburger-icon {
    height: 2.5em;
    width: 2.5em;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Nav page */
.nav-page {
    background-color: #cbd7ab;
}

.nav {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-items {
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}

/* About me page */
.about-me-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 85vw;
}

.who-am-i {
    color: #6f84a1;
    font-size: 3em;
}

.brand-statement {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

/* Projects page */
.projects-page {
    height: 90vh;            
    display: flex;            
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.projects-title {
    font-size: 3em;
    color : #6f84a1;
}

.project-titles {
    font-size: 1.7em;
    color: #a84b67;
}

.project-links {
    height: 13em;
    width: 70vh;
    display: flex;
    justify-content: space-between;
}

.tamagotchi-li {
    height: 13em;
}

.tamagotchi-icon {
    height: 12em;
    width: 17em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamagotchi-description {
    text-align: center;
    font-size: 1.1em;
    color: #000000;
}

.tic-tac-toe-li {
    height: 13em;
}

.tic-tac-toe-icon {
    height: 12em;
    width: 17em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tic-tac-toe-description {
    text-align: center;
    font-size: 1.1em;
    color: #000000;
}
/* Contact page */
.contact-page {
    width: 90vh;
    height: 100vw;
}

.contact-title-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 2em;
    gap: 1em;
}

.contact-me-title {
    color: #6f84a1;
    font-size: 6em;
}

.contact-me-subheader {
    color: #7d94b5;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
}

.label-text {
    font-size: 1.7em;
    color: #a84b67;
}

.send-button {
    background-color: rgba(105, 109, 114, 0.376);
    border: 0.1em solid rgba(0, 0, 0, 0.4);
    border-radius: .25rem;
    color: #a84b67;
    display: inline-flex;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    padding: 1em 2em;
}



.hidden {
    display: none;
    width: 100vw;
    height: 100vh;
    transition: fadeIn;
}